/* Character Page ----------------------------------------- */

.character-title {
    text-align: center;
    padding: 25px;
}

.character-title h2 {
    font-size: 18px;
}

.character-title h1 {
    font-size: 20px;
}


/* Character Profile -------------------------------------- */

.character-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    margin-top: 10px;
}


/* Character Image ---------------------------------------- */

.character-image {
    background-color: #292653;
    padding: 12px;
    border-radius: 20px;
}

.character-image img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}


/* Information Box ---------------------------------------- */

.character-info {
    background-color: #292653;
    width: 470px;
    min-height: 320px;
    padding: 20px;
    border-radius: 20px;
}

.character-info h2 {
    margin-top: 0;
}

.character-info p {
    font-size: 17px;
}

.character-info li {
    margin: 10px;
}


/* Read More Button --------------------------------------- */

.read-more {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}


/* Bottom Profile Title ----------------------------------- */

.profile-title {
    text-align: center;
    margin-top: 45px;
    font-size: 18px;
    font-weight: bold;
}